html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bgBasic);

    color: var(--first-text-color);

    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

// scroll top
#scrolTop {
    position: fixed;
    bottom: 150px;
    right: 70px;
    font-size: 40px;
    z-index: 9999;
    color: --active-color;
}

.isShowBtn {
    opacity: 1;

    &_hide{
        opacity: 0;
    }
}
