.index__header {
    padding: 40px 20px;
    height: 230px;
    background-image: url(../images/Group-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/Group-tel2x.jpg);
    }

    @media screen and (min-width: 768px) {
        height: 216px;
        padding: 40px 32px;
        background-image: url(../images/Group-tabl.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/Group-tabl2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/Group-desk.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/Group-desk2x.jpg);
        }
    }
}

.library-header {
    padding: 40px 20px;
    height: 230px;
    background-image: url(../images/group2-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/group-tel@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        height: 216px;
        padding: 40px 32px;
        background-image: url(../images/group2-tabl.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/group-tabl@2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/group2-desc.jpg);

        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/group-desc@2x.jpg);
        }
    }
}

a {
    text-decoration: none;
}

.cap__link svg {
    fill: #fff;
    color: #FF001B;
    // background: gold;
    width: 24px;
    height: 24px;

}





.cap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cap__logo-sp {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: none;
    &:hover {
        color: #FF001B;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.cap__box {
    position: relative;
    display: flex;

}

.form {
    background-color: rgba(47, 48, 58, 0);
    width: 100%;
    margin-top: 54px;
    display: flex;

    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 41px;
    }
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(47, 48, 58, 0);
    height: 20px;
    color: #FFFFFF;
    &:hover,
    &:focus {
        border-bottom: 1px solid #FF001B;
    }
}

input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.cap__link {
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        color: #FF001B;
    }
}

.cap__item:nth-child(4) {
    margin-left: 40px;
}

.cap__link.active::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #FF001B;
    content: "";
    display: inline-block;
    display: flex;
    top: 100%;
}

.cap__list-btn {
    display: flex;

    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }
}

.cap__item-btn:last-child {
    margin-left: 20px;
    background-color: rgba(47, 48, 58, 0);

}

.cap__btn.active_btn {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: #FF6B01;
    border-color: #FF6B01;
}

.cap__btn {
    width: 130px;
    height: 44px;
    background-color: rgba(47, 48, 58, 0);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 36px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 172px;
    }

    @media screen and (min-width: 1280px) {
        width: 148px;
        height: 42px;
    }

}

.cap__box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cap__box-error {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FF001B;
    margin-top: 20px;

    @media screen and (max-width: 320px) {
        max-width: 300px;
        margin-top: 16px;
    }

    @media screen and (min-width: 768px) {
        text-align: center;
    }
}

.form__box {
    position: relative;
    width: 100%;

    @media screen and (min-width: 425px) {
        width: 336px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
    }
}
.bgr__btn-sun,
.bgr__btn-moon {
    cursor: pointer;
    padding: 5px 0  10px 0;
    background: none;
    margin-right: 30px;
    border: none;
    @media screen and (max-width: 425px) {
        margin-right: 15px;
    }

}
form svg {
    fill: #fff;
    width: 12px;
    height: 12px;
}


.icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    @media screen and (max-width: 425px) {
        width: 15px;
        height: 15px;
    }
}

.bgr_day {
    background-color: #FFFFFF;
    .icon-sun {
        fill: #FF001B;
    }
}
.bgr_night {
    background-color: #000;
    
    .movie__name {
        color: #fff;
    }
    .footer {
        background: #400;
        color: #fff;
    }
    .icon-moon {
        fill: #FF001B;
    }
}

.input__btn {
    transform: translateY(-4px) translateX(-22px);
    position: absolute;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        svg {
            fill: #FF001B;
        }
        
    }
}


.btn__form-login {
    
    
    padding: 0;
    
    background: #000;
    fill: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        fill: #FF001B;
        border-color: #FF001B;
    }
    @media screen and (max-width: 767px) {
        
        width: 25px;
        height: 25px;
    }
    svg {
        width: 20px;
        height: 20px;
        @media screen and (max-width: 767px) {
            width: 15px;
            height: 15px;
        }
    }
}
.modal__login {
    z-index: 4;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;

    @media screen and (min-width: 480px) {
        top: 50%;
        left: 50%;
    }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.is-hidd {
    opacity: 1;
    pointer-events: all;
}
.bascdrop {
    z-index: 3;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.modal-login__close-btn {
    
    svg{
        fill: #FF001B;
        width: 20px;
        height: 20px;
    }
    
}

.cap__item-bt {
    position: absolute;
    transform: translateY(30px) translateX(210px);

    @media screen and (max-width: 767px) {
        transform: translateY(30px) translateX(180px);
    }
}