.index__header {
    padding: 40px 20px;
    height: 230px;
    background-image: url(../images/Group-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-resolution: 2dppx) {
        background-image: url(../images/Group-tel2x.jpg);
    }
    @media screen and (min-width: 768px) {
        height: 216px;
        padding: 40px 32px;
        background-image: url(../images/Group-tabl.jpg);
        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/Group-tabl2x.jpg);
        }
    }
   
    @media screen and (min-width: 1280px) {
        background-image: url(../images/Group-desk.jpg);
        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/Group-desk2x.jpg);
        }
    }
}
.library-header {
    padding: 40px 20px;
        height: 230px;
        background-image: url(../images/group2-tel.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        @media screen and (min-resolution: 2dppx) {
            background-image: url(../images/group-tel@2x.jpg);
        }
    
        @media screen and (min-width: 768px) {
            height: 216px;
            padding: 40px 32px;
            background-image: url(../images/group2-tabl.jpg);
    
            @media screen and (min-resolution: 2dppx) {
                background-image: url(../images/group-tabl@2x.jpg);
            }
        }
    
        @media screen and (min-width: 1280px) {
            background-image: url(../images/group2-desc.jpg);
    
            @media screen and (min-resolution: 2dppx) {
                background-image: url(../images/group-desc@2x.jpg);
            }
        }
}
a {
    text-decoration: none;
}

.cap__link svg {
    fill: #fff;
    color: gold;
    // background: gold;
    width: 24px;
    height: 24px;

}
form svg {
    position: absolute;
    fill: #fff;
    color: gold;
    // background: gold;
    width: 12px;
    height: 12px;
    margin-right: auto;

}
.cap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cap__logo-sp {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: none;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.cap__box {
    display: flex;

}
.form {
    
    width: 100%;
    margin-top: 54px;
    display: flex;
    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 41px;
    }
}

input {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(47, 48, 58, 0);
    height: 20px;
    @media screen and (min-width: 768px) {
        width: 336px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1280px) {
        width: 394px;
    }
    
}
input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
} 

.cap__link {
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.cap__item:last-child {
    margin-left: 40px;
}

.cap__link.active::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #FF001B;
    content: "";
    display: inline-block;
    display: flex;
    top: 100%;
}
.cap__list-btn {
    display: flex;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }
}
.cap__item-btn:last-child {
    margin-left: 20px;
    background-color: rgba(47, 48, 58, 0);

}

.cap__btn.active_btn {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: #FF6B01;
    border-color: #FF6B01;
}
.cap__btn {
    cursor: pointer;
    width: 130px;
    height: 44px;
    background-color: rgba(47, 48, 58, 0);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 36px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #fff;
    @media screen and (min-width: 768px) {
        width: 172px;
    }
    @media screen and (min-width: 1280px) {
        width: 148px;
        height: 42px;
    }
    
}
.cap__box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cap__box-error {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FF001B;
    margin-top: 20px;
    
    @media screen and (max-width: 320px) {
        max-width: 300px;
        margin-top: 16px;
    }
        @media screen and (min-width: 768px) {
            text-align: center;
        }
}
