.btn__form-login {


    padding: 0;

    background: #000;
    fill: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        fill: #FF001B;
        border-color: #FF001B;
    }

    @media screen and (max-width: 767px) {

        width: 25px;
        height: 25px;
    }

    svg {
        width: 20px;
        height: 20px;

        @media screen and (max-width: 767px) {
            width: 15px;
            height: 15px;
        }
    }
}

.modal__login {
    pointer-events: none;
    background-image: url(../images/group2-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 4;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;

    @media screen and (min-width: 480px) {
        top: 50%;
        left: 50%;
    }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.is-hidd {
    opacity: 1;
    pointer-events: all;
}

.bascdrop {
    z-index: 3;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-login__close-btn {
   
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;



    svg {
        fill: #fff;
        width: 20px;
        height: 20px;

        &:hover {
            fill: #FF001B;
        }
    }

}

.cap__item-bt {
    position: absolute;
    transform: translateY(30px) translateX(170px);

    @media screen and (max-width: 767px) {
        transform: translateY(30px) translateX(150px);
    }
}
.form-login {
    padding: 30px 20px;
}

.form-login__box {
    display: flex;
    justify-content: space-evenly;
    button {
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        background-color: #2f303a00;
        border: 1px solid #fff;
        border-radius: 8px;
        justify-content: center;
        padding: 14px 36px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        &:hover {
            filter: drop-shadow(0 8px 43px #ff6b0199);
            background-color: var(--active-color);
            border-color: var(--active-color);
        }
    }
}

.singUp__form-second,
.singUp__form {
    input {
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        height: 30px;
        &:hover {
            border-color: var(--active-color);
        }
    }
    .img {
        border-bottom: none;
    }
}
label {
    color: #fff;
}