
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

}


.pagination__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pagination__button {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
   
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    color: #000000;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.pagination__button--prev,
    &.pagination__button--next {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--footer-bg);
        stroke: currentColor;
    }

    &.pagination__button--current    {
        background-color: var(--active-color);
        color: #ffffff;
    }

    &.pagination__button:not(:disabled):hover,
    &.pagination__button:not(:disabled):focus{
        background-color: var(--active-color);
        color: #ffffff;
        outline: none;
    }

    &.pagination__button:disabled{
        color: #00000050;
        cursor:default;
    }

    @media screen and (max-width: 767px) {
        &.pagination__button--dots,
        &.pagination__button--first,
        &.pagination__button--last {
            display: none;
        }
    }

}