<header class="library-header">
    <div>
        <ul class="cap">
            <li class="cap__item-logo">
                <a class="cap__link" href="./index.html">
                    <svg class=“icon icon-film”>
                        <use href="./images/symbol-defs.svg#icon-film"></use>
                    </svg>
                    <span class="cap__logo-sp">Filmoteka</span>
                </a>
            </li>
            <div class="cap__box">
                <li class="cap__item">
                    <a class="home-js cap__link" href="./index.html">Home</a>
                </li>
                <li class="cap__item">
                    <a class="cap__link active" href="./myLibrary.html">my library</a>
                </li>
            </div>
        </ul>
        <div class="cap__box-btn">
            <ul class="cap__list-btn">
                <li class="cap__item-btn">
                    <button class="cap__btn active_btn">Watched</button>
                </li>
                <li class="cap__item-btn">
                    <button class="cap__btn">queue</button>
                </li>
            </ul>
        </div>
    </div>
</header>