<header class="library-header">
    <div>
        <ul class="cap">
            <li class="cap__item-logo">
                <a class="cap__link" href="./index.html">
                    <svg class="icon icon-film">
                        <use href="./images/symbol-defs.svg#icon-film"></use>
                    </svg>
                    <span class="cap__logo-sp">Filmoteka</span>
                </a>
            </li>
            <ul class="cap__box">
                <li>
                    <button class="bgr__btn-sun">
                        <svg class="icon icon-sun">
                            <use href="./images/symbol-defs.svg#icon-sun"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button class="bgr__btn-moon">
                        <svg class="icon icon-moon">
                            <use href="./images/symbol-defs.svg#icon-moon"></use>
                        </svg>
                    </button>
                </li>
                <li class="cap__item">
                    <a class="home-js cap__link " href="./index.html">Home</a>
                </li>
                <li class="cap__item">
                    <a class="cap__link active" href="./myLibrary.html">my library</a>
                </li>
                <li class="cap__item-bt">
                    <button class="btn__form-login">
                        <svg class="">
                            <use href="./images/symbol.svg#icon-user-plus"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </ul>
        <div class="cap__box-btn">
            <ul class="cap__list-btn">
                <li class="cap__item-btn">
                    <button class="cap__btn active_btn">Watched</button>
                </li>
                <li class="cap__item-btn">
                    <button class="cap__btn">queue</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal__login">
        <button type="button" class="modal-login__close-btn">
            <svg>
                <use href="./images/symbol.svg#icon-x"></use>
            </svg>
        </button>
        <div class="form-login">
            <form class="singUp__form">
                <label class="email">
                    Email
                    <input name="email" type='email'>
                </label>
                <label class="password">
                    Password
                    <input name="text" type="text">
                </label>
                <div class="form-login__box">
                    <button class="singup" type="submit">
                        SingUp
                    </button>
                    <button type="button" class="btn__to-register">Register</button>
                </div>
            </form>
        </div>
    </div>
</header>