<div data-modalTeam class="modalTeams backdrop is-hidden">
    <div class="modalTeam">
       <button data-modalTeam-close class="modalTeamClose">X</button>
         <!-- <ul class="team">
           <li class="teamList">
                <img src="#" alt="Володимир Пиц/Team Lead" >
                <p>Володимир Пиц/Team Lead</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Влад Шафінський/Skrum Master">
                <p>Влад Шафінський/Skrum Master</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Александр ____/Developer">
                <p>Александр ____/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Віктор Карнидал/Developer">
                <p>Віктор Карнидал/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Владислав Колесников/Developer">
                <p>Владислав Колесников/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Дарья Ветрова/Developer">
                <p>Дарья Ветрова/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Євген Мельничук/Developer">
                <p>Євген Мельничук/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Євген Позняк/Developer">
                <p>Євген Позняк/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Іван Чудійович/Developer">
                <p>Іван Чудійович/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Микола Кондратюк/Developer">
                <p>Микола Кондратюк/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Олеся Здоровска/Developer">
                <p>Олеся Здоровска/Developer</p>
            </li>
            <li class="teamList">
                <img src="#" alt="Роман Радахевич/Developer">
                <p>Роман Радахевич/Developer</p>
            </li>
         </ul> -->
     </div>
</div>